USE [master]
GO
/****** Object:  Database [DBMS]    Script Date: 18.01.2021 00:32:23 ******/
CREATE DATABASE [DBMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DBMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBMS]
GO
/****** Object:  Table [dbo].[Adress]    Script Date: 18.01.2021 00:32:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adress](
	[ID] [int] NOT NULL,
	[City] [varchar](75) NOT NULL,
	[District] [varchar](75) NOT NULL,
	[Neighbourhood] [varchar](75) NOT NULL,
	[unique_House] [int] NOT NULL,
 CONSTRAINT [PK_Adress] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[House]    Script Date: 18.01.2021 00:32:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[House](
	[Publish_Date] [datetime] NULL,
	[House_ID] [int] IDENTITY(1,1) NOT NULL,
	[Price] [int] NOT NULL,
	[Heating] [varchar](50) NULL,
	[Num_Rooms] [int] NULL,
	[Size] [int] NULL,
	[Belongings] [varchar](250) NULL,
	[Constraints] [varchar](250) NULL,
	[unique_House] [int] NOT NULL,
 CONSTRAINT [PK_House] PRIMARY KEY CLUSTERED 
(
	[House_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [AK_House] UNIQUE NONCLUSTERED 
(
	[unique_House] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Member]    Script Date: 18.01.2021 00:32:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Member](
	[Name] [varchar](25) NOT NULL,
	[Surname] [varchar](35) NOT NULL,
	[Social_ID] [int] NOT NULL,
	[Email] [varchar](60) NOT NULL,
	[Member_Type] [bit] NOT NULL,
	[Birthdate] [date] NOT NULL,
	[Gender] [bit] NOT NULL,
	[House_ID] [int] NULL,
	[Seek_ID] [int] NULL,
	[Password] [varchar](50) NOT NULL,
	[Member_Index] [int] IDENTITY(1,1) NOT NULL,
	[M_Phone] [varchar](50) NOT NULL,
	[Member_bio] [varchar](1000) NULL,
	[Member_picture] [varbinary](max) NULL,
 CONSTRAINT [PK_Member_1] PRIMARY KEY CLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Phone]    Script Date: 18.01.2021 00:32:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Phone](
	[ID] [int] NOT NULL,
	[Country_Code] [varchar](5) NOT NULL,
	[Phone_Number] [int] NOT NULL,
	[Email] [varchar](60) NOT NULL,
 CONSTRAINT [PK_Phone] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Picture]    Script Date: 18.01.2021 00:32:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Picture](
	[ID] [int] NOT NULL,
	[Picture_Names] [varchar](50) NOT NULL,
	[Picture] [varbinary](max) NOT NULL,
	[unique_House] [int] NOT NULL,
 CONSTRAINT [PK_Picture] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Request]    Script Date: 18.01.2021 00:32:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Request](
	[Request_ID] [int] IDENTITY(1,1) NOT NULL,
	[Seeker_ID] [int] NOT NULL,
	[Owner_ID] [int] NOT NULL,
	[Ad_ID] [int] NOT NULL,
	[Request_Date] [datetime] NULL,
	[Is_Accept] [bit] NULL,
 CONSTRAINT [PK_Request] PRIMARY KEY CLUSTERED 
(
	[Request_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seek]    Script Date: 18.01.2021 00:32:23 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seek](
	[Seek_ID] [int] IDENTITY(1,1) NOT NULL,
	[Budget_Min] [int] NOT NULL,
	[Budget_Max] [int] NOT NULL,
	[City] [varchar](75) NULL,
	[Constraints] [varchar](250) NULL,
	[Neighbourhood] [varchar](75) NULL,
 CONSTRAINT [PK_Seek] PRIMARY KEY CLUSTERED 
(
	[Seek_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[House] ADD  DEFAULT (getdate()) FOR [Publish_Date]
GO
ALTER TABLE [dbo].[Request] ADD  CONSTRAINT [DF__Request__Request__38996AB5]  DEFAULT (getdate()) FOR [Request_Date]
GO
ALTER TABLE [dbo].[Adress]  WITH CHECK ADD FOREIGN KEY([unique_House])
REFERENCES [dbo].[House] ([unique_House])
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_House] FOREIGN KEY([House_ID])
REFERENCES [dbo].[House] ([House_ID])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_House]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [FK_Member_Seek] FOREIGN KEY([Seek_ID])
REFERENCES [dbo].[Seek] ([Seek_ID])
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [FK_Member_Seek]
GO
ALTER TABLE [dbo].[Phone]  WITH CHECK ADD  CONSTRAINT [FK_Member_Phone] FOREIGN KEY([Email])
REFERENCES [dbo].[Member] ([Email])
GO
ALTER TABLE [dbo].[Phone] CHECK CONSTRAINT [FK_Member_Phone]
GO
ALTER TABLE [dbo].[Picture]  WITH CHECK ADD FOREIGN KEY([unique_House])
REFERENCES [dbo].[House] ([unique_House])
GO
ALTER TABLE [dbo].[House]  WITH CHECK ADD CHECK  (([Price]>(-1)))
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [CK__Member__Birthdat__2E1BDC42] CHECK  ((datediff(year,[Birthdate],getdate())>=(18)))
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [CK__Member__Birthdat__2E1BDC42]
GO
ALTER TABLE [dbo].[Member]  WITH CHECK ADD  CONSTRAINT [CK__Member__Social_I__2D27B809] CHECK  (([Social_ID]>=(0) AND [Social_ID]<=(99999999999.)))
GO
ALTER TABLE [dbo].[Member] CHECK CONSTRAINT [CK__Member__Social_I__2D27B809]
GO
ALTER TABLE [dbo].[Seek]  WITH CHECK ADD  CONSTRAINT [CK__Seek__Budget_Max__36B12243] CHECK  (([Budget_Max]>(-1)))
GO
ALTER TABLE [dbo].[Seek] CHECK CONSTRAINT [CK__Seek__Budget_Max__36B12243]
GO
ALTER TABLE [dbo].[Seek]  WITH CHECK ADD  CONSTRAINT [CK__Seek__Budget_Min__35BCFE0A] CHECK  (([Budget_Min]>(-1)))
GO
ALTER TABLE [dbo].[Seek] CHECK CONSTRAINT [CK__Seek__Budget_Min__35BCFE0A]
GO
USE [master]
GO
