
@{
    ViewBag.Title = "Profil";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="pt-3"style="background-color: #393e46">


    <div class="form-row">
        <div class="form-group col-md-1">
        </div>
        <div class="form-group col-md-2">
            <div class="card" style="width:250px">
                <img class="card-img-top" src="~/Images/img_avatar1.png">
                <div class="card-body">
                    <h4 class="card-title">John Doe</h4>
                  

                </div>
            </div>




        </div>
        <div class="form-group col-md-1">
        </div>
        <div class="form-group col-md-5" style="color:whitesmoke;">
            <div class="container p-3 my-2 border">

                <h1>INFO</h1>
                <p> </p>
                <p>E-Mail:</p>
                <p> </p>
                <p>Phone :</p>
                <p> </p>
                <p>Member Target</p>
                <p> </p>


            </div>
        </div>
        


    </div>
    
</div>
