<div id="footer" class="footer " style="background-color: #263238;">
    <div class="container text-white">
        <div class="row pt-5 pb-5">
            <div class="col-md-2 ml-5">
                <ul class="list-unstyled">
                    <li class="text-muted mb-3"><small>About DBMS Finding Flatemate</small></li>
                    <li>
                        Matching the person looking for a house with the person who is
                        looking for a flatmate.
                    </li>
                </ul>
            </div>
            <div class="col-md-2 ml-5">
                <ul class="list-unstyled">
                    <li class="text-muted mb-3"><small>Download our App</small></li>
                    <li><a href="#"><img class="app-logo" src="~/Images/app-logos.png" /></a></li>
                </ul>
            </div>
            <div class="col-md-2 ml-5">
                <ul class="list-unstyled">
                    <li class="text-muted mb-3"><small>Website links</small></li>
                    <li><a href="#" onclick="location.href='@Url.Action("../SingUp/Kaydet")'">Sign-up</a></li>
                    <li><a href="#" onclick="location.href='@Url.Action("../SingUp/Singin")'">Log-in</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Terms of use</a></li>
                </ul>
            </div>
            <div class="col-md-2">
                <small>Connect with us</small>
                <a href="#" style="color:#4881b9"><i class="fab fa-facebook-square fa-3x mt-3"></i></a>
                <a href="#" style="color:#4881b9"><i class="fab fa-instagram fa-3x ml-2"></i></a>
                <a href="#" style="color:#4881b9"><i class="fab fa-twitter-square fa-3x ml-2"></i></a>
                <a href="#" style="color:#4881b9"><i class="fab fa-linkedin fa-3x mt-2"></i></a>
            </div>
            <div class="clearfix"></div>
            <ul class="list-inline mt-5 float-left">
                <li class="list-inline-item"><a href="#">Yasal</a></li>
                <li class="list-inline-item"><a href="#">Gizlilik</a></li>
                <li class="list-inline-item"><a href="#">Cookies</a></li>
                <li class="list-inline-item"><a href="#">Reklamlar hakkında</a></li>
            </ul>
            <p class="mt-5 ml-auto">© 2020 dbmsfindingflatemate.com</p>
        </div>
    </div>
</div>