<div>
    <div class="main-bg text-center">
        <ul class="list-inline" style="position: absolute; top: 55%; left:38%; -ms-transform: translateY(-50%); transform: translateY(-50%);">
            <li class="list-inline-item">
                <a role="button" href="#" style="width: 99%;" class="btn btn-warning border-dark btn-lg" onclick="location.href='@Url.Action("../HouseAdvertisement/Index")'">Preview Homes<i class="fas fa-home pl-1"></i></a>
            </li>
            <li class="list-inline-item">
                <a role="button" href="#" style="width: 99%;" class="btn btn-info border-dark btn-lg" onclick="location.href='@Url.Action("../PersonReview/Index")'">Preview Flatmates<i class="fas fa-users pl-1"></i></a>
            </li>
        </ul>
    </div>
</div>
