<div style="min-height:650px; display: flex; justify-content: center; align-items: center;">
    <div class="row">
        <div style="max-width:550px; max-height:650px">
            <ul class="list-unstyled text-left mt-5">
                <li><h2 class="pt-5" style="color:orange;">INSTANT CONTACT</h2></li>
                <li><h1 style="color:black;">Connect at the</h1></li>
                <li><h1 style="color:black;">speed of light</h1></li>
                <li><h3 style="color:white">/ </h3></li>
                <li><h3 style="color:#4881b9">Quickly set up interviews with the right people. And smash your deadline.</h3></li>
            </ul>
        </div>
        <div style="min-width:200px; max-height:650px">
        </div>
        <div style="max-width:450px; max-height:650px">
            <ul class="list-unstyled text-center">
                <li><img src="~/Images/homepage-img-3.png" /></li>
            </ul>
        </div>
    </div>
</div>
