<div style="min-height:550px; display: flex; justify-content: center; align-items: center; background:#f4f8fb; padding:55px;">
    <div class="row">
        <div style="max-width:450px; max-height:550px">
            <ul class="list-unstyled text-center">
                <li><img style="max-width:750px; max-height:550px" src="~/Images/homepage-img-2.png" /></li>
            </ul>
        </div>
        <div style="min-width:400px; max-height:550px">
        </div>
        <div style="max-width:550px; max-height:550px">
            <ul class="list-unstyled text-right mt-5">
                <li><h2 class="pt-5" style="color:orange;">INFORMATIVE PROFILES</h2></li>
                <li><h1 style="color:black;">Easily decide who</h1></li>
                <li><h1 style="color:black;">to meet</h1></li>
                <li><h3 style="color:#f4f8fb">/ </h3></li>
                <li><h3 style="color:#4881b9">Profiles full of relevant details help you find the right flatmate.</h3></li>
            </ul>
        </div>
    </div>
</div>
