<div style="min-height:550px; display: flex; justify-content: center; align-items: center;">
    <div class="row">
        <div style="max-width:550px; max-height:550px">
            <ul class="list-unstyled text-left">
                <li><h2 class="pt-5" style="color:orange;">PERSONALISED MATCHING</h2></li>
                <li><h1 style="color:black;">Review your</h1></li>
                <li><h1 style="color:black;">perfect matches</h1></li>
                <li><h3 style="color:white">/ </h3></li>
                <li><h3 style="color:#4881b9">Send request to the person who is matched with you. Start to chat with!</h3></li>
            </ul>
        </div>
        <div style="min-width:200px; max-height:550px">
        </div>
        <div style="max-width:450px; max-height:550px">
            <ul class="list-unstyled text-center">
                <li><img src="~/Images/homepage-img-1.png" /></li>
            </ul>
        </div>
    </div>
</div>
