<nav class="navbar navbar-expand-lg navbar-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        <a class="mx-auto" href="#" style="width:425px" onclick="location.href='@Url.Action("../HomePage/Index")'"><img class="logo" src="~/Images/logo.png" /></a>
        <ul class="navbar-nav mr-lg-auto ml-lg-auto ">
            <li class="nav-item">
                <button type="button" class="btn btn-outline-secondary btn-lg m-3" onclick="location.href='@Url.Action("../SingUp/Singin")'"> LOG IN</button>
            </li>
            <li class="nav-item">
                <button type="button" class="btn btn-secondary btn-lg m-3" onclick="location.href='@Url.Action("../SingUp/Kaydet")'"> SIGN UP</button>
            </li>
        </ul>
    </div>
</nav>